version: "3.9"

services:
  redis_local:
    image: redis:7.2
    container_name: redis_local
    restart: unless-stopped
    ports:
      - "6379:6379"
    env_file:
      - .env
    volumes:
      - ./data:/data
      - ./redis.conf:/usr/local/etc/redis/redis.conf
    command:
      - sh
      - -c
      - |
        echo "replicaof $OVH_REDIS_HOST $OVH_REDIS_PORT" > /tmp/redis.conf
        echo "masteruser $OVH_REDIS_USERNAME" >> /tmp/redis.conf
        echo "masterauth $OVH_REDIS_PASSWORD" >> /tmp/redis.conf
        cat /usr/local/etc/redis/redis.conf >> /tmp/redis.conf
        exec redis-server /tmp/redis.conf
